
<!-- Toolbar -->
<nav class="toolbar-tata navbar navbar-dark color-nav navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/tata.png"  class="d-inline-block align-top img-tata" alt="">
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerTata" aria-controls="navbarTogglerTata" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  class="collapse navbar-collapse" id="navbarTogglerTata">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" href="#">Inicio</a>
      <a class="nav-item nav-link" href="#">Productos</a>
      <a class="nav-item nav-link" href="#">Servicios</a>
      <a class="nav-item nav-link" href="#">Nosotros</a>
      <a class="nav-item nav-link" href="#">Contacto</a>
    </div>
    <div class="content-cont">
      <span class="contador">1</span>
    </div>
    <div>
      <a href="#" class="">
        <span class="icon icon-carrito shadow"></span>
      </a>
    </div>
  </div>
</nav>
<div class="linea-bottom row">
<div class="col-6 frac-primario"></div>
<div class="col-6 frac-secundario"></div>
</div>
<div class="content content-router" role="main">

  <router-outlet></router-outlet>

</div>

  <!-- Footer -->
<footer class="footer-tata">
  <div class="row mt-3">
    <div class="col-4 cont-pago"> 
      <div>
        <div class="text-center mb-2"><span>Medios de Pago</span></div>
        <div class="row">
          <img src="/assets/medioPagos/visa.png" alt="">
          <img src="/assets/medioPagos/mastercard.png" alt="">
          <img src="/assets/medioPagos/cabal.png" alt="">
          <img src="/assets/medioPagos/banelco.png" alt="">
          <img src="/assets/medioPagos/mercadopago.png" alt="">
          <img src="/assets/medioPagos/pagofacil.png" alt="">
          <img src="/assets/medioPagos/rapipago.png" alt="">
          <img src="/assets/medioPagos/tarjeta-naranja.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-4 cont-contacto"> 
      <div>
        <div class="text-center mb-2"><span>Contacto</span></div>
        <ul>
          <li>
            <a href="#" class="">
            <span class="icon icon-home"></span>
            Palermo - Calle Gorriti ####
          </a>
          </li>
          <li>      
            <a href="#" class="">
            <span class="icon icon-celular"></span>
            +54 11 00000000
          </a></li>
          <li>
            <a href="#" class="">
              <span class="icon icon-email"></span>
              tatadesign87@gmail.com
            </a>
            </li>
        </ul>
      </div>
    </div>
    <div class="col-4 cont-redes">
      <img src="/assets/img/facebook.png"  class="d-inline-block align-top img-redes" alt="">
      <img src="/assets/img/whatsapp.png"  class="d-inline-block align-top img-redes" alt="">
      <img src="/assets/img/twitter.png"  class="d-inline-block align-top img-redes" alt="">
      <img src="/assets/img/instagram.png"  class="d-inline-block align-top img-redes" alt="">
      <img src="/assets/img/youtube.png"  class="d-inline-block align-top img-redes" alt="">
      <img src="/assets/img/pinteres.png"  class="d-inline-block align-top img-redes" alt="">
    </div>
    <div class="col-12 cont-derechos">
      <span>© 2021 Todos lods Derechos Reservados | <b>Tata Design</b></span>
    </div>
  </div>

</footer>



